.App {
  background-color: #282c34;
  min-height: 100vh;
  padding: 10px;
}

.blobs {
  margin: 10px -5px -5px;
  display: flex;
  flex-wrap: wrap;
}

p {
  width: 250px;
  height: 250px;
  margin: 5px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.5;
}
